
/*
dark orange: ff5200
light orange: fa9905
pink: f21170
purple: 72147e
*/

@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: white;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .alert {
    background-color: #f21170;
  }

  .nav{
    padding-left: 2.25%;
  }

  .nav-link {
    color: black;
  }

  .nav-link:hover {
    color: #787878	;
  }

  .wrapper {
    background: #fff;
    margin: 10px 30px ;
    padding: 2.25%; /* 18px / 800px */
  }

  .jumbotron {
    background-color: #fff;
    padding: 0;
    margin-bottom: 10rem;
  }

  .btn-primary {
    background-color: white;
    color: #ff5200;
    border-color: #ff5200;
    margin-right: 20px;
    width: 20%;
  }

  .btn-primary:hover {
    background-color: #ff5200;
    color: white;
    border-color: #ff5200;
    }
  

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
  }

  .card{
    height: 85%;
    padding: 1rem;
    margin: 1rem;
    color: black; 
  }

  a:link{
    text-decoration: none;
  }

  .card:hover{
    box-shadow: 1px 8px 10px grey;
  }


  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
