
<div class="jumbotron jumbotron-fluid.bg-">
  <h1 class="display-4">Welcome to One Word Stories</h1>
  <p class="lead">A website to create stories, <strong>one word at a time.</strong></p>
    <%if !logged_in?%>
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
    <%end%>
    <a class="btn btn-primary btn-lg" href="/" role="button">View Stories</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <%@stories.each_with_index do |s, i|%>
      <%if i<3%>
        <div class="col">
          <div class="card">
            <h2><%=s.title%></h2>
            <p><%=preview_text(s)%></p>
          </div>
        </div>
      <%else%>
        <%break%>
      <%end%>
    <%end%>
    
  </div>
</div>