
<div class="jumbotron jumbotron-fluid.bg-">
  <h1 class="display-4">One Word Stories</h1>
  <p class="lead">A website to create stories, <strong>one word at a time.</strong></p>
    <%if !logged_in?%>
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-primary btn-lg" href="/stories/new" role="button">Create Story</a>
    <%else%>
      <a class="btn btn-primary btn-lg" href="/stories" role="button">View Stories</a>
      <a class="btn btn-primary btn-lg" href="/stories/new" role="button">Create Story</a>
      
    <%end%>
    
  </p>
</div>

<div>
  <div>
    <h1>Featured Stories:</h1>
  </div>

  <div class="container-flex">
    <div class="row">
      <%@stories.each_with_index do |s, i|%>
        <%if i<3%>
          <div class="col">
            <a href="/stories/<%=s.id%>">
              <div class="card">
                <h2><%=s.title%></h2>
                <p><%=preview_text(s)%></p>
              </div>
            </a>  
          </div>
        <%else%>
          <%break%>
        <%end%>
      <%end%>
      
    </div>
  </div>
  <div class=text-center>
    <a class="btn btn-primary btn-lg" href="/stories" role="button">View All</a>
  </div>
</div>