
<div class="jumbotron jumbotron-fluid.bg-">
  <h1 class="display-4">Welcome to One Word Stories</h1>
  <p class="lead">A website to create stories, one word at a time.</p>

    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
  </p>
</div>